---
title: Simple
is_layout: true
---
{% extends 'layouts/default' %}
{% block content %}
  {% header %}
  {% block banner, short_name: true %}

  {% endblock %}
  <div class="container-fluid">
    <main id="content" class="content" role="main">
    {% block main, short_name: true %}

    {% endblock %}
    </main>
  </div>
{% endblock %}
